<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sender Flask</title>
    <link ref="stylesheet" href="{{ url_for('static, filename='style.css'}}"
</head>
<body>
    <h1>malgun</h1>
    <form>
        <label  name="email">
             Email address
        </label><br>
        <input type="email" placeholder="Enter email"><br>



        <label name="subject">
            Subject
        </label><br>
        <input type="text" placeholder="Subject"><br>




        <label name="message">
            Message
        </label><br>
        <input type="text" placeholder="Type your message"><br>



        <button type="submit">Send Now</button>
    </form> 
</body>
</html>
